html{
  background-color: #ffffff;
}

body{
  font-family: Roboto;
}

form{
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading{
  color: #1D3C6E;
  font-size: 16px;
  font-weight: normal;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 3px;
  background-color: #FAFAFA;
  width: 70%;
}

.container2{
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 3px;
  background-color: #FAFAFA;
  width: 70%;
}

.item{
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  padding-left: 20px;
}

.white{
  background-color: #ffffff;
  color: #ffffff;
}

#search_button{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

#submit_button{
  font-size: 16px;
  background-color: #1D3C6E;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

#entry{
  font-size: 18px;
  color: #1D3C6E;
  padding-left: 20px;
}

#invoice_title{
  padding-left: 20px;
  font-size: 18px;
  color: #F6BF2B;
}
